@use "../../global" as *;

.p-article-text {
  padding: 2rem 2rem 0 2rem;
  @include font-mplus1-bold;
  color: $cardBg_color;

  >h3 {
    font-size: 2.8rem;
    margin-top: 1rem;
  }

  >p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.5rem;
  }

  @include breakpoint(tablet) {
    padding: 4rem 4rem 0 4rem;

    >h3 {
      font-size: 3.6rem;
    }

    >p {
      margin-top: 2rem;
    }
  }

  @include breakpoint(pc) {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 3rem;
    >h3 {
      margin-top: 6rem;
    }

    >p {
      margin-top: 2rem;
    }
  }
}
