@use "../../global" as*;

.p-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__button {
    @include font-roboto-bold;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 20px;
  }
  &__title {
    @include font-roboto-bold;
    display: block;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
  }
  &-wrapflex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }


  @include breakpoint(tablet) {
    &__button {
      @include font-roboto-bold;
      margin-top: 2rem;
      margin-right: 2.5rem;
      font-size: 34px;
    }
  }
  @include breakpoint(pc) {
    &__button {
      display: none;
    }

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin: 0;
      margin-left: 65px;
      margin-right: auto;
      text-align: start;
      font-size: 64px;
    }
    &-wrapflex {
      margin-right: 31px;
    }
  }

}
